* {
  box-sizing: border-box;
}

form {
  padding: 20px;
  border-bottom: solid 1px #ddd;
}

input {
  width: 99%;
  padding: 0.5em;
  font-size: 1.4em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding: 20px;
  border-bottom: solid 1px #ddd;
  cursor: pointer;
  display: flex;
}

li > span {
  flex: 1;
  text-align: left;
}

li > button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.done > span {
  text-decoration: line-through;
}

#earnt-button {
  color: 'red';
}

#total-finances {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 15px;
}

#total-finances-value {
  margin-top: 5px;
  font-weight: bold;
  font-size: 30px;
}

#detailed-finances {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

#total-spent,
#total-earnt {
  width: 50%;
  display: flex;
  flex-direction: column;
}

#total-spent {
  justify-content: flex-end;
  color: red;
}

#total-earnt {
  justify-content: flex-start;
  color: green;
}

#total-earnt-value,
#total-spent-value {
  font-size: 20px;
  font-weight: bold;
}
